* {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.main-heading {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px !important
}

.para-heading {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px !important;
    font-weight: 400;
    text-align: center;
    padding-top: 20px !important;
}

.row-styling {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.fist-col {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 30px !important;
 
    
     /* Sticky position */
     position: sticky !important;
     top: 0 Im !important;/* Adjust based on your requirement */
     
}


.second-col {
    width: 50%;
    display: flex;
   align-items: center;
    flex-direction: column;
}


/* //////////////// RANGE FILTER STYLING /////////////////////// */
.range-filter-div {
    width: 90% !important;
    padding-top: 100px !important;
}

.inner-container-style {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px !important;
   
}

.price {
    color: rgb(34, 197, 94);
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 500;
    padding-left:10px !important ;
}

.count {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    color: rgb(59, 130, 246);
    padding-right: 8px !important;
}

.widthstyling {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.icon-styling{
    padding-right: 10px !important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #F3F4F6;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-top: 2px solid #D1D5DB;
    border-bottom: 2px solid #D1D5DB;
}

.slider:hover {
    opacity: 1;
    background: #FAD93E;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 25px;
    background: #F4CB2A;
    cursor: col-resize;
    border-radius: 5px;
    border: 2px solid #EAB308;
}

/* /////////////// KIT FILTER CSS /////////////// */

.kit-filter-div {
    width: 90% !important;
    padding-top: 30px !important;
}

.kit-container {
    gap: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F3F4F6;
    border-top: 2px solid #D1D5DB;
    border-bottom: 2px solid #D1D5DB;
  }

  .kit-inner {
    width: 33.3%;
    padding: 6px 0px !important;
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center !important   ;
  }

  .kit-inner.active {
    background: #FBDB41;
    /* Active state background color */
    font-weight: 700;
    /* border: 2px solid #EAB308; */
  }
  
  .kit-inner:hover {
    background: #FBDB41;
  }

  /* /////////////// PANEL FILTER CSS /////////////// */

  .panel-filter-div {
    width: 90% !important;
    padding-top: 30px !important;
}

.panel-inner {
    width: 50%;
    padding: 6px 0px !important;
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-align: center !important   ;
  }

  .panel-inner.active {
    background: #FBDB41;
    /* Active state background color */
    font-weight: 700;
    /* border: 2px solid #EAB308; */
  }
  
  .panel-inner:hover {
    background: #FBDB41;
  }

    /* /////////////// STYLE FILTER CSS /////////////// */
   
    .style-inner, .pickets-inner, .ironwood-inner , .access-inner{
        width: 50%;
        padding: 6px 0px !important;
        font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-align: center !important   ;
      }
    
      .style-inner.active, .pickets-inner.active , .ironwood-inner.active, .access-inner.active {
        background: #FBDB41;
        /* Active state background color */
        font-weight: 700;
        /* border: 2px solid #EAB308; */
      }
      
      .style-inner:hover, .pickets-inner:hover, .ironwood-inner:hover, .access-inner:hover {
        background: #FBDB41;
      }

    

      